**UE20CS312 - Data Analytics - Worksheet 4b - AdaBoost and the
Apriori Algorithm**

*Vijay J, Dept. of CSE - PES2UG20CS815*

#Loading the Dataset

In [3]:
# Imports Library
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

# Load the wine dataset
data = datasets.load_wine(as_frame = True)# Load x & y variables
X = data.data
y = data.target

# Split the dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 22)

#PROBLEMS

##Problem 1 (4 points)

In [22]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# evaluate method to print results after training a particular model
def evaluate(model, X_train, X_test, y_train, y_test):
    y_test_pred = model.predict(X_test)
    y_train_pred = model.predict(X_train)
    print("TRAINIG RESULTS: \n===============================")
    clf_report = pd.DataFrame(classification_report(y_train, y_train_pred, output_dict=True))
    print(f"CONFUSION MATRIX:\n{confusion_matrix(y_train,y_train_pred)}")
    print(f"ACCURACY SCORE:\n{accuracy_score(y_train,y_train_pred):.4f}")
    print(f"CLASSIFICATION REPORT:\n{clf_report}")
    print("TESTING RESULTS: \n===============================sklearn.ensemble import AdaBoostClassifier")
    clf_report = pd.DataFrame(classification_report(y_test,y_test_pred, output_dict=True))
    print(f"CONFUSION MATRIX:\n{confusion_matrix(y_test,y_test_pred)}")
    print(f"ACCURACY SCORE:\n{accuracy_score(y_test,y_test_pred):.4f}")
    print(f"CLASSIFICATION REPORT:\n{clf_report}")

###Solutions

In [23]:
#import AdaBoostClassifier

#From sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import AdaBoostClassifier

#Initialize the AdaBoostClassifier with n_estimators set to 30.
model = AdaBoostClassifier(n_estimators=30)

#Use the fit() method and pass the train dataset.
model.fit(X_train, y_train)

#Use the evaluate(model, X_train, X_test, y_train, y_test) method to print results
evaluate(model, X_train, X_test, y_train, y_test)

TRAINIG RESULTS:
===============================
CONFUSION MATRIX:
[[46  0  0]
 [ 0 54  0]
 [ 0  0 33]]
ACCURACY SCORE:
1.0000
CLASSIFICATION REPORT:
              0     1     2  accuracy  macro avg  weighted avg
precision   1.0   1.0   1.0       1.0        1.0           1.0
recall      1.0   1.0   1.0       1.0        1.0           1.0
f1-score    1.0   1.0   1.0       1.0        1.0           1.0
support    46.0  54.0  33.0       1.0      133.0         133.0
TESTING RESULTS:
===============================sklearn.ensemble import AdaBoostClassifier
CONFUSION MATRIX:
[[12  1  0]
 [ 0 16  1]
 [ 0  2 13]]
ACCURACY SCORE:
0.9111
CLASSIFICATION REPORT:
                   0          1          2  accuracy  macro avg  weighted avg
precision   1.000000   0.842105   0.928571  0.911111   0.923559      0.916541
recall      0.923077   0.941176   0.866667  0.911111   0.910307      0.911111
f1-score    0.960000   0.888889   0.896552  0.911111   0.915147      0.911986
support    13.000000  17.000000  15.000000  0.911111  45.000000     45.000000

##Problem 2 (3 points)

In [ ]:
# Install mlxtend
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)

In [4]:
# Imports
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

#Loading the dataset file
df = pd.read_csv('BreadBasket_DMS.csv')
df['Quantity'] = 1
df.head(7)

         Date      Time  Transaction           Item  Quantity
0  2016-10-30  09:58:11            1          Bread         1
1  2016-10-30  10:05:34            2   Scandinavian         1
2  2016-10-30  10:05:34            2   Scandinavian         1
3  2016-10-30  10:07:57            3  Hot chocolate         1
4  2016-10-30  10:07:57            3            Jam         1
5  2016-10-30  10:07:57            3        Cookies         1
6  2016-10-30  10:08:41            4         Muffin         1

In [5]:
basket = df.groupby(['Transaction', 'Item'])['Quantity'].sum().unstack().fillna(0)
# There are a lot of zeros in the data but we also need to make sure any positive values are converted to a 1
# and anything less the 0 is set to 0. This step will complete the one hot encoding of the data
def encode_units(x):
  if x <= 0:
      return 0
  if x >= 1:
      return 1

In [13]:
basket_sets = basket.applymap(encode_units)
basket_sets

Item,Adjustment,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
Transaction,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

###Solutions

In [25]:
#Use the apriori algorithm, set min_support to 0.03 and use_colnames to True.
frequent_items = apriori(basket_sets, min_support=0.03, use_colnames=True)

#Print the output of the apriori method which provides the frequent_itemsets
print(frequent_items)

     support             itemsets
0   0.036093          (Alfajores)
1   0.324940              (Bread)
2   0.039765            (Brownie)
3   0.103137               (Cake)
4   0.475081             (Coffee)
5   0.054034            (Cookies)
6   0.038926         (Farm House)
7   0.057916      (Hot chocolate)
8   0.038296              (Juice)
9   0.061379          (Medialuna)
10  0.038191             (Muffin)
11  0.079005               (NONE)
12  0.085510             (Pastry)
13  0.071346           (Sandwich)
14  0.034309              (Scone)
15  0.034204               (Soup)
16  0.141643                (Tea)
17  0.033365              (Toast)
18  0.089393      (Bread, Coffee)
19  0.054349       (Coffee, Cake)
20  0.034939  (Coffee, Medialuna)
21  0.042073       (NONE, Coffee)
22  0.047214     (Pastry, Coffee)
23  0.037981   (Coffee, Sandwich)
24  0.049523        (Coffee, Tea)

In [26]:
#print table view
frequent_items

     support             itemsets
0   0.036093          (Alfajores)
1   0.324940              (Bread)
2   0.039765            (Brownie)
3   0.103137               (Cake)
4   0.475081             (Coffee)
5   0.054034            (Cookies)
6   0.038926         (Farm House)
7   0.057916      (Hot chocolate)
8   0.038296              (Juice)
9   0.061379          (Medialuna)
10  0.038191             (Muffin)
11  0.079005               (NONE)
12  0.085510             (Pastry)
13  0.071346           (Sandwich)
14  0.034309              (Scone)
15  0.034204               (Soup)
16  0.141643                (Tea)
17  0.033365              (Toast)
18  0.089393      (Bread, Coffee)
19  0.054349       (Coffee, Cake)
20  0.034939  (Coffee, Medialuna)
21  0.042073       (NONE, Coffee)
22  0.047214     (Pastry, Coffee)
23  0.037981   (Coffee, Sandwich)
24  0.049523        (Coffee, Tea)

##Problem 3 (3 points)

###Solutions

In [8]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [27]:
#Use the association_rules method, set metric to lift and min_threshold to 1.
Top_rules = association_rules(frequent_items, metric="lift", min_threshold=1)

In [28]:
#Print the top five rules using .head().
Top_rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Coffee),(Cake),0.475081,0.103137,0.054349,0.114399,1.109196,0.005350,1.012717
1,(Cake),(Coffee),0.103137,0.475081,0.054349,0.526958,1.109196,0.005350,1.109667
2,(Coffee),(Medialuna),0.475081,0.061379,0.034939,0.073542,1.198175,0.005779,1.013129
3,(Medialuna),(Coffee),0.061379,0.475081,0.034939,0.569231,1.198175,0.005779,1.218561
4,(NONE),(Coffee),0.079005,0.475081,0.042073,0.532537,1.120938,0.004539,1.122908